.full {
  width: 100wv;
  position: relative;
  min-height: 100vh;
}

.mainContent {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
}

.limit {
  max-width: 100vw;
}

.menuContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 67px;
}
.sider {
  flex: initial !important;
  max-width: initial !important;
  max-height: initial !important;
  width: auto !important;
  padding: .5rem;
}

.header {
  background: #fff !important;
  height: auto !important;
}

.event {
  display: inline-flex;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.content {
  background: #fff !important;
}

.titleArea {
  display: inline-flex;
  place-items: flex-end;
  .logo img {
    width: 260px;
    margin: -40px;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  font-size: 2em;
}

.profile {
  .img {
    border-radius: 15%;
  }
}

.post {
  padding: 0px 20px;
}

.postList {
  min-height: 350px;
  padding: 1rem !important;
}

.mark {
  body {
    background-color: #FFF;
    color: #333;
    font: 15px Helvetica, arial, freesans, clean, sans-serif;
    word-wrap: break-word;
    line-height: 1.7;
    padding: 0 20px 20px 20px;
    width: 722px;
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    color: #4183c4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p, blockquote, ul, ol, dl, table, pre {
    margin: 15px 0;
  }
  
  ul, ol {
    padding-left: 30px;
    list-style: initial;
  }
  
  h1 {
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 2.5em;
  }
  
  h2 {
    border-bottom: 1px solid #eee;
    color: #000;
    font-size: 2.0em;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  h4 {
    font-size: 1.2em;
  }
  
  h5 {
    font-size: 1.0em;
  }
  
  h6 {
    color: #777;
    font-size: 1.0em;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.7;
    margin: 1em 0 15px 0;
  }
  
  h1 + p, h2 + p, h3 + p {
    margin-top: 10px;
  }
    
  code {
    background-color: #F8F8F8;
    border-radius: 3px;
    border: 1px solid #DDD;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: pre;
  }
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
.site-calendar-widget {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}