@font-face {
  font-family: 'VCRMono';
  src: local('VCRMono'), url(../font/VCR_OSD_MONO_1.001.ttf) format('truetype');
}

@font-face {
  font-family: 'OHGamca';
  src: local('OHGamca'), url(../font/OhHypnozaBroken-Regular.ttf) format('truetype');
}

html, body, #__next, .mainContent, .full {
    height: 100%;
    width: 100%;
    margin: 0;
}

.mainContent {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table !important;
  overflow: hidden;
}

.limit {
  max-width: 100vw;
  @media screen and (max-width: 600px){
    flex-direction: column-reverse !important;
  }
}

.limit-reversed {
  max-width: 100vw;
  @media screen and (max-width: 600px){
    flex-direction: column !important;
  }
}

.discSider {
  @media screen and (max-width: 600px){
    margin-top: -2rem;
    margin-bottom: 5rem;
  }
}

.menuContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 67px;
}

.QR {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10%;
  display: flex;

  section {
    padding: 1rem;
  }

}

.sider {
  @media screen and (max-width: 600px){
    width: 100% !important;
  }
  flex: initial !important;
  max-width: initial !important;
  max-height: initial !important;
  overflow-x: hidden;
  padding: .5rem;
}

.header {
  background: #fff !important;
  height: auto !important;
}

.eList {
  display: grid;
  margin-bottom: 2rem;
}

.events {
  display: flex;
  justify-content: center;
  li {
    line-height: 0.4rem !important;
  }
}

.bigEvents {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.calEvent {
  line-height: 0.3rem !important;
  width: initial !important;
  .ant-badge-status-text {
    margin-left: 3px !important;
  }
}

.queryFilter {
  margin: 1rem;
}

.event {
  margin-left: 1rem;
  display: inline-flex;
  place-items: center;
  h4, h6 { 
    margin-bottom: .2rem;
  }
}

.smalltitleArea {
  margin-top: -3.5rem;
  h1 {
    font-family: 'OHGamca';
    display: inline-block;
  }
}

.smalllogo {
  display: inline-block;
  width: 5rem;
}

.futureEvents {
  display: flex;
  flex-direction: column;
}
.discChart {
  canvas {
    max-height: 200px;
  }
}

.discArea {
  h2 {
    display: inline-block;
  }
  .navbar {
    display: inline-block;
    border-bottom: none;
  }
}

.discDesc {
  overflow-wrap: break-word;
  padding: 1rem;
}

.footer {
  width: 100% !important;
  display: table-row !important;
  height: 0;
  .fcontent {
    padding: 0.5rem 0.2rem;
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      padding-right: 0.2rem;
      width: 100px;
      max-height: 3rem;
    }
  }
}

.content {
  background: #fff !important;
}

.titleArea {
  display: inline-flex;
  @media screen and (max-width: 400px){
    display: block;
    padding-top: 3rem;
    font-size: small;
    text-align: center;
  }
  place-items: flex-end;
  h1 {
    font-family: 'OHGamca';
  }
  .logo img {
    width: 260px;
    margin: -40px;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  font-size: 2em;
}

.profile {
  .img {
    border-radius: 15%;
  }
}

.content {
  padding-bottom: 2rem;
}

.post {
  padding: 0px 20px;
}

.postList {
  padding: 1rem !important;
}

.mark {
  body {
    background-color: #FFF;
    color: #333;
    font: 15px Helvetica, arial, freesans, clean, sans-serif;
    word-wrap: break-word;
    line-height: 1.7;
    padding: 0 20px 20px 20px;
    width: 722px;
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    color: #4183c4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p, blockquote, ul, ol, dl, table, pre {
    margin: 15px 0;
  }
  
  ul, ol {
    padding-left: 30px;
    list-style: initial;
  }
  
  h1 {
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 2.5em;
  }
  
  h2 {
    border-bottom: 1px solid #eee;
    color: #000;
    font-size: 2.0em;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  h4 {
    font-size: 1.2em;
  }
  
  h5 {
    font-size: 1.0em;
  }
  
  h6 {
    color: #777;
    font-size: 1.0em;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.7;
    margin: 1em 0 15px 0;
  }
  
  h1 + p, h2 + p, h3 + p {
    margin-top: 10px;
  }
    
  code {
    background-color: #F8F8F8;
    border-radius: 3px;
    border: 1px solid #DDD;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: pre;
  }
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
.site-calendar-widget {
  @media screen and (max-width: 600px){
    width: fit-content;
  }
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}